@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


body {
    margin-inline: auto;
    padding-block: 1rem;
    scroll-behavior: smooth;
    font-family: "SUSE", sans-serif;
    color: white;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

header {
    grid-template-areas: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.14rem solid #ffffff;
    border-radius: 0.3rem;
    padding: 0.2rem 0.1rem;
    margin: 0rem 1rem;
    & p a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-size: 1rem;
    }


    & .search-bar input{
        padding: 0.5rem;
        border: 1.3px solid white;
        border-radius: 0.8rem;
        background: #000;
        color: white;
    }
    & nav .dropdown {
        color: #fff;
        width: 40px;
        padding: 10px;
    } & ul {
        display: none;
    }
}
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown a {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown a:hover {
   color: #949494;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 0.14rem solid #ffffff;
    border-radius: 0.3rem;
    margin: 0.2rem 0rem;
    right: 0%;

}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #000;
    border: 0.14rem solid #000000;
    border-radius: 0.3rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown.open ~ body {
    filter: blur(10px);
}

.services {
    display: grid;
    margin-inline: auto;
    padding-block: 1rem;
    width: min(95%, 70rem);
    gap: 0;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four';
    justify-content: center;
    gap: 20px;
}

.services div:nth-child(1) {
  grid-area: one;
  background-image: url(https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
}

.services div:nth-child(2) {
    grid-area: two;
    background-image: url(https://images.pexels.com/photos/577584/pexels-photo-577584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
}

.services div:nth-child(3) {
    grid-area: three;
    background-image: url(https://images.pexels.com/photos/796206/pexels-photo-796206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
}

.services div:nth-child(4) {
    grid-area: four;
    background-image: url(https://images.pexels.com/photos/2085998/pexels-photo-2085998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
}




.service-item {
    background-color: #000000;
    border: 1.3px solid rgb(255, 255, 255);
    border-radius: 0.3rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
}

.service-item h2 {
    margin-top: 0;
}


footer {
    grid-area: footer;
    display: grid;
    border: 0.14rem solid #ffffff;
    border-radius: 0.3rem;
    padding: 0.2rem 0.1rem;
    margin: 0rem 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'signature signature'
    'social-media footer-right'
    'copyright copyright';
}

.signature {
    grid-area: signature;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    
}

.social-media {
    grid-area: social-media;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.social-media svg {
    width: 30px;
    height: 30px;
    &:hover {
        fill: #bbbbbb;
    }
}

.footer-right {
    grid-area: footer-right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    & a {
        color: #ffffff;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
            color: #bbbbbb;
        }
    } 
}

.copyright {
    grid-area: copyright;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}



@media screen and (min-width: 40em) {

    header {
        & nav .dropdown {
            display: none;
        }
    
    & p {
        color: #ffffff;
        padding: 10px;
        font-size: 1rem;
    }

    & .search-bar input{
        padding: 0.5rem;
        border: 0.13rem solid white;
        border-radius: 0.8rem;
        background: #000;
        color: white;
    }


    & ul {
        display: flex;
        justify-content: flex-end;
        & li{
            list-style: none;
        } a{
            margin-right: 1rem;
            list-style: none;
            font-size: 1rem;
            text-decoration: none;
            color: #fff;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: #bbbbbb;
            }
        }
    }
}

.services {
    grid-template-areas: 
    'one two'
    'three four';
}
}

@media screen and (min-width: 60em) {
    header {

        & nav .dropdown {
            display: none;
        }
    
    & p {
        color: #ffffff;
        padding: 10px;
        font-size: 1rem;
    }

    & .search-bar input{
        padding: 0.5rem;
        border: 0.13rem solid white;
        border-radius: 0.8rem;
        background: #000;
        color: white;
    }


    & ul {
        display: flex;
        justify-content: flex-end;
        & li{
            list-style: none;
        }
        a{
            margin-right: 1rem;
            list-style: none;
            font-size: 1rem;
            text-decoration: none;
            color: #fff;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: #bbbbbb;
            }
        }
    }
}

.services {
    grid-template-areas: 
    'one two three'
    '. four .';
}
}
